{% extends "main/base.html" %}

{% block title %}
    Gaps
{% endblock %}

{% block banner %}
<div class="jumbotron">
    <h5 class="display-4">Gaps</h5>
    <p class="lead">It's not working now. <br>
        The idea was like `king - man + women` like
        <a href="https://p.migdal.pl/2017/01/06/king-man-woman-queen-why.html">here</a> and 
        <a href="https://blog.esciencecenter.nl/king-man-woman-king-9a7fd2935a85">here</a>.
    </p>
    
    <!-- <span class="badge badge-secondary">{{ context.model_name }}</span>
    <span class="badge badge-secondary">{{ context.equations_count }} equations</span>
    <a class="badge badge-secondary" data-toggle="collapse" href="#answer" role="button" aria-expanded="false" aria-controls="collapseExample">
        answer
    </a>
    <div class="collapse" id="answer">
        <div class="card card-body"></div>
    </div> -->
</div>
{% endblock banner %}

{% block content %}
{% endblock %}