{% extends "main/base.html" %}

{% block title %}
    VPN
{% endblock %}

{% block banner %}
<div class="jumbotron">
    <h5 class="display-4">VPN</h5>
    <p class="lead">This page should contain some vpn clients.</p>    
</div>
{% endblock banner %}

{% block content %}
    <form>
        
        <div class="card" style="max-width: 800px; margin: auto;">
            <div class="card-header">
                OpenVPN (selectel russia)
            </div>
            <div class="card-body">
              <h5 class="card-title">Clients</h5>
              <p class="card-text">
                You can install openvpn client, get any of configurations and using it as russian vpn. <br>
                To download client you can <a href="https://openvpn.net/vpn-client/" target="_blank">here</a>.
            </p>
              
              <div class="btn-group" role="group" aria-label="Clients">
                <a href="https://storage.yandexcloud.net/playground-server/vpn/configs/client-s1.ovpn" class="btn btn-outline-dark"
                    download="client-s1">client-s1</a>
                <a href="https://storage.yandexcloud.net/playground-server/vpn/configs/client-s2.ovpn" class="btn btn-outline-dark"
                    download="client-s2">client-s2</a>
                <a href="https://storage.yandexcloud.net/playground-server/vpn/configs/client-s3.ovpn" class="btn btn-outline-dark"
                    download="client-s3">client-s3</a>
                <a href="https://storage.yandexcloud.net/playground-server/vpn/configs/client-s4.ovpn" class="btn btn-outline-dark"
                    download="client-s4">client-s4</a>
                <a href="https://storage.yandexcloud.net/playground-server/vpn/configs/client-s5.ovpn" class="btn btn-outline-dark"
                    download="client-s5">client-s5</a>
            
                </div>
            </div>
          </div>



{% endblock %}